:root {
  --text: #efefef;
  --bg: #1f2224;
}
body  {
  max-width:100%;
  padding-left:0;
  padding-right:0;
}
footer {
  background:var(--bg);
  position:fixed;
  bottom:0;
  display:block;
  width:100%;
  height:2.5em;
}

footer h1 {
  font-size:1.5em;
  text-align: left;
  margin-left:2em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding:0;
  margin:0;
}
footer .web-name{
  float:left;
}
footer .web-des{
  color:var(--text);
  text-align: right;
  padding-right:2em;
  font-size:0.8em;
}
footer .web-des p {
  text-align: right;
  float:right;
  box-sizing: content-box;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
footer .web-des h1{
  text-align: right;
  margin-right:2em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding:0;
  margin:0;
}
footer .web-des a {
  color:#eee !important;
}
strong, b {
  color: #ffffff;
  font-weight: 300;
}
#geese {
  overflow:hidden;
  padding-bottom:5em;
}
#geese .goose {
  height: calc(40vh - 2em);
  min-height: 20em;
  width: 25%;
  transition: opacity 1.25s;
  transition-delay: 0s;
  pointer-events: auto;
  overflow: hidden;
  position: relative;
  display: block;
  float:left;

}
#geese .goose a.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  outline: currentcolor none 0px;
  transition: all 5s;
}
#geese .goose:hover a.image,
#geese .goose:active a.image {
  width: 120%;
  height: 120%;
}
#geese .goose .title {
  pointer-events: none;
  bottom: 1.875em;
  font-size: 0.8em;
  left: 2.1875em;
  margin: 0;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0.1em;
  line-height: 1.5;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
#geese .goose .blurb {
  position:absolute;
  height:100%;
  background:rgba(0,0,0,0.5);
  opacity:0;
  width:50%;
  box-sizing: border-box;
  padding:1em;
  display:block;
  right:0;
  text-align:right;
  overflow:hidden;
  transition:all 2s;
  transform:translate3d(50%,0,0);
}
#geese .goose:hover .blurb,
#geese .goose:active .blurb
{
  opacity:1;
  transform:translate3d(0,0,0);
}
@keyframes fadeIn {
  from{
    opacity:0;
    visibility: visible;
  }
  to {
    opacity:1;
    visibility: visible;
  }
}
#geese .goose {
  animation: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  visibility: hidden;
}
#geese .goose:nth-child(1) {
  animation-delay: 0.2s;
}
#geese .goose:nth-child(2) {
  animation-delay: 0.4s;
}
#geese .goose:nth-child(3) {
  animation-delay: 0.6s;
}
#geese .goose:nth-child(4) {
  animation-delay: 0.8s;
}
#geese .goose:nth-child(5) {
  animation-delay: 1.0s;
}
#geese .goose:nth-child(6) {
  animation-delay: 1.2s;
}
#geese .goose:nth-child(7) {
  animation-delay: 1.4s;
}
#geese .goose:nth-child(8) {
  animation-delay: 1.6s;
}
#geese .goose:nth-child(9) {
  animation-delay: 1.8s;
}
#geese .goose:nth-child(10) {
  animation-delay: 2s;
}
#geese .goose:nth-child(11) {
  animation-delay: 2.2s;
}
#geese .goose:nth-child(12) {
  animation-delay: 2.4s;
}
@keyframes slideUp {
  from {
    transform:translate3d(0,100%,0);
    visibility: visible;
    opacity:0;
  }
  to {
    transform:translate3d(0,0,0);
    visibility: visible;
    opacity:1;
  }
}
@keyframes slideDown {
  from {
    transform:translate3d(0,-100%,0);
    visibility: visible;
    opacity:0;
  }
  to {
    transform:translate3d(0,0,0);
    visibility: visible;
    opacity:1;
  }
}
footer {

  animation: slideUp;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  visibility: hidden;
}
@media only screen and (max-width: 1200px) {
  #geese .goose {
    width:50%;
  }

}
@media only screen and (max-width: 800px) {
  footer {
    top:0;
    margin-top:0;
  }
  footer h1{
    font-size:1.2em;
  }
  footer {
    animation: slideDown;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    visibility: hidden;
 }
  #geese {
    padding-top:5em;
    padding-bottom:0;
  }
  #geese .goose {
    width:50%;
  }
}
@media only screen and (max-width: 600px) {
  #geese .goose {
    width:100%;
  }
}
